# ------ DATABASE ------
DATABASE_URL="postgresql://kabarin_user:kabarin_password@localhost:5432/kabarin_db"

# ------ BETTER AUTH ------
BETTER_AUTH_URL="http://localhost:3000"
BETTER_AUTH_SECRET="SECRET_KEY_HERE"

# ------ GOOGLE OAUTH ------
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

# ------ SERVER ------
PORT=3000
NODE_ENV="development"

# ------ AI ------
# Azure OpenAI API Key 
