node_modules
dist
.turbo
*.local
.env
.env.prod
!.env.example
!.env.prod.example
.dev.vars
!.dev.vars.example
.prod.vars
!.prod.vars.example
.wrangler
bun.lock

docs

# Baileys session 
apps/api/auth_session/

# Drizzle migrations generated
packages/db/migrations/*.sql

# Docker
docker-data/

# OS
.DS_Store
Thumbs.db
